name: Build

on:
  push:
    branches:
      - main

env:
  PUBLIC_POCKETBASE_URL: http://127.0.0.1:8090

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v5
        with:
          node-version: latest
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build
